{% extends 'base.html' %}

{% block title %}
Страница про магазин
{% endblock %}

{% block body %}
<div class="container">
    <h1>Магазин настольных игр It Project Shop</h1>
    <p class="fs-5 text-muted">It Project Shop - это магазин, в котором представлен широчайший ассортимент настольных игр. На наш сайт приходят как преданные фанаты этого хобби, так и те, кто только начинает с ним знакомиться.</p>
    <p class="fs-5 text-muted">В магазине It Project Shop можно найти огромное множество настольных игр, которые придутся по вкусу самым разным игрокам. У нас широко представлены как семейные, детские и вечериночные, так и сложные стратегические, коллекционно-карточные и тактические игры с миниатюрами. "Колонизаторы" и "Каркассон", "Манчкин" и "Взрывные котята", Spyfall и "Ужас Аркхэма"</p>
</div>
{% endblock %}