{% extends 'base.html' %}

{% block title %}
Бонусная программа
{% endblock %}

{% block body %}
<div class="container">
    <h1>Магазин настольных игр It Project Shop</h1>
    <p class="fs-5 text-dark">Бонусная программа Hobby Games - это система накопления бонусов, позволяющая совершать выгодные покупки в магазинах HobbyGames и на сайте hobbygames.ru, а также пользоваться дополнительными сервисами и привилегиями.</p>
    <h1 class="display-4 fw-normal">Как получить бонусы:</h1>
    <p class="fs-5 text-dark">Совершайте покупки на сайте или в магазине</p>
    <p class="fs-5 text-dark">Выполняйте задания</p>
    <p class="fs-5 text-dark">Участвуйте в акциях</p>
</div>
{% endblock %}